node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

bcrypt/
bcryptjs/
body-parser/
cors/
dotenv/
express/
jsonwebtoken/
mongoose/
swagger-jsdoc/
swagger-ui-express/
nodemon/

coverage/
dist/
logs/
*.log
